

<%= form_for @author do |f| %>
 <p>
  <%= f.label :name %><br>
  <%= f.text_field :name %>
 </p>
 <p>
  <%= f.label :email %><br>
  <%= f.text_field :email %>
 </p>
 <p>
<!--   <%= f.submit "Cancel", :onclick => "redirect()" %> -->
<!--   <%= link_to "Back", authors_path %> -->
  <%= f.submit %>
 </p>
<% end %>

<% if @author.errors.any? %>
 <h2>The following errors prevented the author from saving:</h2>
 <ul>
 <% @author.errors.full_messages.each do |msg|%>
 <li><%= msg %></li>
 <% end %>
 </ul>
<% end %>

<script type="text/javascript" language="javascript">
function redirect()
{
    window.location.href="authors.index";
}
</script>

