<h2 align="center"><%= @post.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
 <ul class="listing">
  <div class="row" align="center">
   <div class="col-md-4 col-md-offset-4">
    <li><%= link_to gravatar_for(@post.user), user_path(@post.user) %></li>
    <li class="article-title"><%= link_to @post.user.nickname, user_path(@post.user) %></li>
    <li><small><%= pluralize(@post.user.posts.count, "post") if @post.user.posts %></small></li>
   </div>
  </div>
 </ul>
 </end>

 <hr>
 <h4 class="center description"><strong>內文:</strong></h4>
 <%= simple_format(@post.content) %>
 <div class="article-actions">
 <% if user_signed_in? && @post.user.id == current_user.id %>
   <%= link_to "Editt", edit_post_path(@post), class: "btn btn-xs btn-primary" %>
   <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this article?"}, class: "btn btn-xs btn-danger" %>
 <% end %>
 <%= link_to "Back", posts_path, class: "btn btn-xs btn-success" %>
 <%= link_to "Add Comment", new_comment_path(post_id: @post.id), class: "btn btn-xs btn-primary" %>
 </div>
 <br>
 <p>Posted at:
  <%= @post.created_at %>
 </p>
</div>
<br>

<% @post.comments.order(created_at: :desc).each do |comment| %>
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
        <div class="listing">
          <p style="font-size:8px">訪客留言 <%= comment.created_at %></p>
          <%= comment.body %>
        </div>
      </div>
    </div>
  </div>
<% end %>
